.buttons {
  margin-top: 69px;
  margin-bottom: 55px;
}
.button-menu {
  display: block; 
  cursor: pointer;
  font-size: 28px;
  color: #ffffff;
  opacity: 0.5;
  font-family: "Campton Bold DEMO", "Spoqa Han Sans", sans-serif;
  text-decoration: none;
}
.selected {
  color: #ffffff;
  opacity: 1;
}
