.page-poster {
  .subject {
    font-size: 77px;
    color: #ffffff;
    font-family: "Campton Bold DEMO", "Spoqa Han Sans", sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 1.5px #7151f4; 
  }
}
